@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

#books-library {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

#new-book {
  /* margin: 20px auto; just to see it clearly */
  width: 190px;
  height: 230px;
  border: solid 1px rgb(211, 211, 211);
  border-radius: px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

#new-book:hover {
  transform: scale(1.1);
}

#new-book > i {
  font-size: 5em;
  color: rgb(126, 126, 126);
}

.card {
  display: flex;
  flex-direction: column-reverse;
  width: 190px;
  height: 230px;
  border: solid 1px rgb(189, 189, 189);
  border-radius: 1px;
  padding: 5px;
  overflow: auto;
  transition: all 0.4s ease-in-out;
  margin: 5px;
}

.card:hover {
  transform: scale(1.2);
}
/* SCROLLBAR START */
.card-content::-webkit-scrollbar {
  position: absolute;
  width: 8px;
}

.card-content::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 100px;
}

.card-content::-webkit-scrollbar-thumb {
  border: 1px solid transparent;
  border-radius: 100px;
  background-color: #00576d;
  background-clip: content-box;
}
/* SCROLLBAR END */

.card-content {
  display: flex;
  width: auto;
  height: 215px;
  flex-direction: column;
  text-align: center;
  overflow: auto;
}

.card-content > p {
  margin-bottom: 0px;
}

.card-content > p:first-child {
  font-size: 26px;
  font-weight: 800;
  margin: 26px 0 10px;
  line-height: 120%;
}
.card-content > p:nth-child(2) {
  font-size: 18px;
  font-weight: 600;
  color: rgb(70, 70, 70);
}

.card-content > p:nth-child(3) {
  font-size: 11px;
  font-weight: 600;
  margin-top: 5px;
  text-transform: uppercase;
}

.card-button {
  position: absolute;
  align-self: center;
}

.card-button > button {
  visibility: hidden;
  opacity: 0;
  width: 90px;
  height: 40px;
  border: none;
  background-color: white;
  transition: visibility 0.4s, opacity 0.4s linear;
}

.card-button > button:first-child > i {
  color: rgb(255, 145, 0);
}

.card-button > button:first-child:hover {
  border-top: thick double rgb(255, 145, 0);
}

.card-button > button:nth-child(2) > i {
  color: rgb(255, 0, 0);
}

.card-button > button:nth-child(2):hover {
  border-top: thick double rgb(255, 0, 0);
}

.card:hover > .card-button > button {
  visibility: visible;
  opacity: 1;
}

.modal-header {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.modal-content {
  border-radius: 1px;
}
